@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.btn-regular{
    background-color: #0D6EFD;
    color: white;
    padding: 17px 30px;
    border-radius: 8px;
    border: 0;
}

html{
    overflow-y: auto;
}


/* Spinner Styles */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;       
  border-top: 6px solid #0D6EFD;  
  border-radius: 50%;  
  animation: spin 1s linear infinite;
  margin: auto;
}

/* Animation Keyframes */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
